:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-dark-color);
    font-family: sans-serif;
    font-size: 0.8em;
}
img{
    width: 100%;
    display: block;
}
#main-content::-webkit-scrollbar {
    width: 1em;
}
   
#main-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(173, 255, 47, 0.3);
}
   
#main-content::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ADFF2F -5.43%, rgba(0, 0, 0, 0.82) 39.4%, rgba(28, 67, 19, 0.82) 49.46%, rgba(131, 193, 36, 0.956366) 50%, rgba(0, 0, 0, 0.82) 61.96%, rgba(182, 255, 70, 0.82) 103.9%);
    outline: 1px solid rgba(40, 40, 40, 0.5);
    border-radius: 5px;
}
/* FLEXBOX */
.d-flex{
    display: flex;
}
.align-start{
    align-content: flex-start;
}
.f-end{
    justify-content: end;
}
.align-start{
    align-content: start;
}
.align-center{
    align-content: center;
}
.align-end{
    align-content: end;
}
.f-start{
    justify-content: start;
}
.f-center{
    justify-content: center;
}
.sp-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.align-it-end{
    align-items: end;
}
.align-it-center{
    align-items: center;
}
/* UTILITY */
/* .debug{
    border: 1px solid red;
} */

/* TEXT */
.text-center{
    text-align: center;
}
.text-white{
    color: var(--color-white);
}
.text-grey{
    color: var(--color-grey);
}
.text-hover-light-grey{
    color: var(--color-light-grey);
}
.text-dark{
    color: var(--color-black);
}
ul{
    list-style: none;
}
ul>li{
    padding: 10px 10px 0 0;
    font-weight: 600;
}
li>a{
    color: var(--color-grey);
    text-decoration: none;
}
h1{
    width: 60%;
    padding-left: 10px;
}
h2{
    padding-top: 20px;
    padding-bottom: 10px;
}
h3{
    padding-top: 20px;
    /* padding-left: 10px; */
}
a{
    text-decoration: none;
}
h4{
    color: var(--color-white);
}
/* CONTAINER */
.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: orange;
}
#side-bar{
    width: 250px;
    background-color: var(--color-black);
}
.container{
    padding: 15px 10px 10px 20px;
}
#main-content{
    width: calc(100% - 250px);
    height: calc(100%);
    background-color: var(--color-dark-color);
    overflow-y: scroll;
    padding: 80px 10px 0 20px;
    color: var(--color-white);
}
#call-to-action{
    background-color: rgba(0, 0, 0, 70%);
    width: calc(100% - 250px);
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
}
/* PADDING / MARGIN */
.pd-y{
    padding-top: 5px;
    padding-bottom: 5px;
}
.px-5px{
    padding-left: 5px;
}
.px-10px{
    padding-left: 10px;
}
/* CALL TO ACTION */
.btn{
    margin-right: 30px;
    font-size: 0.7em;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    color: var(--color-white);
    transition: all 0.5s;
}
/* SECTION MUSIC */
#section-music{
    flex-direction: row;
    font-size: 0.8em;
}
.underscore-green{
    background-color: var(--color-highlight);
    width: 50%;
    height: 2px;
    margin-top: 2px;
}
.underscore-green-vert{
    background-color: var(--color-highlight);
    width: 3px;
    height: 35px;
    margin-right: 2px;
    position: absolute;
    left: 0;
}
/* MAIN */
.card{
    width: calc(100% / 6);
    /* min-width: 100px; */
    padding: 0 20px 10px 0;
}
.card-subtitle{
    font-size: 0.8em;
    font-weight: 600;
    padding-bottom: 10px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}
.card-img{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-highlight);
    display: flex;
    opacity: 0;
    transition: background-color 0.5s ;
}
.card:hover .overlay{
    opacity: 1;
    background-color: rgba(0, 0, 0, 50%);
}
.font-play{
    font-size: 3em;
}


/* SIDEBAR */

#logo-small{
    display: none;
}
.short-list{
    margin-top: 15px;
}
.icon{
    font-size: 1.5em;
    width: 30px;
}
.icon>img{
    opacity: 60%;
}
.side-text{
    margin-left: 5px;
}
.square{
    width: 30px;
    height: 30px;
    background-color:var(--color-light-grey);
}
.download-section{
    width: 100%;
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.width-100{
    width: 100%;
}
.width-60{
    width: 60%;
}
.width-40{
    width: 40%;
}
.download{
    width: 20px;
}
.download-text{
    font-size: 0.8em;
    margin-left: 5px;
}
.profile{
    width: 20px;
    background-color: var(--color-grey);
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-text{
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 600;
}
.side-bar-top{
    height: calc(100% - 80px);
    min-height: 280px;
}
.side-bar-bottom{
    height: 80px;
    background-color: var(--color-black);
}
/* PLAYBAR */
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}
.playbar-sx{
    /* width: 20%; */
    height: 50px;
}
.square-playbar{
    width: 50px;
    height: 50px;
}
.margin-left{
    margin-left: 3%;
}
.playbar-center{
    width: 60%;
    height: 70px;
    padding-bottom: 5px;
}
.playbar-center-top{
    height: 50%;
}
.playbar-center-bottom{
    height: 50%;
}
.icon-playbar-center-box{
    width: calc(100% / 5);
    font-size: 1.2em
}
#play-icon{
    font-size: 2em;
}
/* .playbar-dx{
    width: 20%;
} */
.icon-playbar-dx-box{
    width: 50%;
    font-size: 1.2em;
    margin-right: 10px;
}
.soundwave-container {
    height: 100%;
    width: auto;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    margin-bottom: 1px solid var(--color-grey);
}
.bar {
    width: 3px;
    height: 50%;
    background: var(--color-highlight);
    border-radius: 2px;
    margin: 0 2px;
    animation: equalizer 1.9s steps(20, end) infinite;
}
.bar:nth-child(1) { 
    animation-duration: 1.9s;
}
.bar:nth-child(2) { 
    animation-duration: 2.0s;
}
.bar:nth-child(3) { 
    animation-duration: 1.7s;
}
.bar:nth-child(4) { 
    animation-duration: 2.1s;
}
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 7px;
  background: var(--color-dark-color);
  border-radius: 5px;
  background-image: linear-gradient(#acff2f36, #adff2f);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
a{
    color: white;
}
#music-time:hover{
    cursor:grab;
}
.time{
    padding: 0 2% 0 2%;
}
#volume{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: var(--color-dark-color);
    border-radius: 5px;
    background-image: linear-gradient(#acff2f36, #adff2f);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }

 /* HOVER */
 .hover-green:hover i{
    color: var(--color-highlight);
    font-size: large;
 }
 #play-icon:hover i{
    color: var(--color-highlight);
    font-size: larger;
 }
.fa-heart:hover{
    color: red;
    font-weight: 600;
    cursor: pointer;
}
.fa-folder:hover{
    color: rgb(171, 171, 98);
    font-weight: 600;
    cursor: pointer;
}
li > a:hover{
    color: white;
}
.btn:hover{
    background-color: var(--color-dark-color);
    font-size: 0.8em;
}
#volume:hover{
    cursor: grab;
}
.overlay>.fa-circle-play{
    transition: all 0.2s;
}
.overlay>.fa-circle-play:hover{
    font-size: 6em;
    transform: rotate(360deg);
}
/* MEDIA QUERY */

.icon-playbar-dx-box{
    transition: all 1s;
}
@media screen and (max-width: 1200px){
    .wrap{
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4);
        /* min-width: 100px; */
        /* padding: 0 20px 10px 0; */
    }
}
@media screen and (max-width: 992px){
    .card{
        width: calc(100% / 3);
        /* min-width: 100px; */
        /* padding: 0 20px 10px 0; */
    }
    .icon-playbar-dx-box > div{
        padding: 0 5px 0 2px;
    }
}
@media screen and (max-width: 768px){
    .card{
        width: calc(100% / 2);
        /* min-width: 100px; */
        /* padding: 0 20px 10px 0; */
    }
    .wrap-768{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .playbar-center{
        width: 50%;
    }
    .playbar-center-top{
        width: 70%;
    }
    .icon-playbar-dx-box{
        width: 40%;
    }
    .icon-playbar-dx-box > div{
        padding: 0 1px 0 1px;
    }
    
    .playbar-dx{
        flex-wrap: wrap;
        justify-content: center;
    }
    .icon-playbar-dx-box {
        width: 60%;
        padding-bottom: 3px;
    }
}
@media screen and (max-width: 576px) {
    .display-none{
        display: none;
    }
    #logo-small{
        display: block;
        width: 100%;
    }
    h1{
        width: 100%;
        padding: 0;
    }
    #side-bar{
        width: 50px;
        overflow: hidden;
    }
    .container{
        padding-left: 15%;
        padding-right: 15%;
    }
    #main-content{
        width: calc(100% - 50px);
    }
    #call-to-action{
        width: calc(100% - 50px);
    }
    .download-section{
        border: 0;
        justify-content: center;
    }
    .download{
        width: 15px;
    }
    .profile-section{
        justify-content: center;
    }
    .profile{
        margin-bottom: 3px;
        width: 25px;
        height: 25px;
    }
    .playbar-center-top{
        width: 90%;
        min-width: 120px;
    }
    .playbar-center-bottom{
        width: 100%;
        min-width: 150px;
    }
    #playbar{
        padding: 0 10px 0 10px;
    }
    .playbar-left{
        width: 15%;
    }
    #playbar-dx{
        width: 15%;
    }
    .input-dx-box > div{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    #volume{
        max-width: 100px;
    }
}

  
@keyframes equalizer {
    0% {
        height: 60%;
    }
    4% {
        height: 50%;
    }
    8% {
        height: 40%;
    }
    12% {
        height: 30%;
    }
    16% {
        height: 20%;
    }
    20% {
        height: 30%;
    }
    24% {
        height: 40%;
    }
    28% {
        height: 10%;
    }
    32% {
        height: 40%;
    }
    36% {
        height: 60%;
    }
    40% {
        height: 20%;
    }
    44% {
        height: 40%;
    }
    48% {
        height: 70%;
    }
    52% {
        height: 30%;
    }
    56% {
        height: 10%;
    }
    60% {
        height: 30%;
    }
    64% {
        height: 50%;
    }
    68% {
        height: 60%;
    }
    72% {
        height: 70%;
    }
    76% {
        height: 80%;
    }
    80% {
        height: 70%;
    }
    84% {
        height: 60%;
    }
    88% {
        height: 50%;
    }
    92% {
        height: 60%;
    }
    96% {
        height: 70%;
    }
    100% {
        height: 80%;
    }
}
  

@keyframes heart-burst {
    0% {
        background-position: left
    }
    100% {
        background-position: right
    }
}


